@import './utils/variables.scss';
@import './utils/normalize.css';
@import './utils/reset.css';
// @import '../fonts/fonts.css';


* {
  box-sizing: border-box;
}
body {
  background-color: $white;
  font-family: $font_main;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  min-height: 100%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

