/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
		url('../fonts/PlusJakartaSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
		url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	height: 100%;
	min-height: 100%;
	max-width: 1980px;
	/* background: #1e1e2c; */
	background: #1e1e2c url('../assets/image/1990.svg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0% 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	color: white;
	overflow-x: hidden;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@media (max-width: 1025px) {
	body {
		background-position: 23% 0%;
	}
}

@media (max-width: 768px) {
	body {
		background-position: 32% 0%;
	}
}

@media (max-width: 430px) {
	body {
		background: #1e1e2c;
	}
}

.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 12px 0 12px 0;
	background: #7102ff;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline: none;
	border: 0;
}

.btn:hover {
	background: #5b00d0;
}

.btn:active {
	background: #590dbd;
}

.btn span {
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-right: 6px;
}

.btn img {
	width: 20px;
	height: auto;
}

.content_wrap {
	max-width: 1440px;
	margin: 0 auto;
}

section {
	width: 100%;
	height: 100%;
}

.flex_column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.description {
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
}

/* ----------- HEADER ------------- */

header {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-radius: 14px;
	padding: 12px 16px;
	/* height: 68px; */
	/* background: rgba(144, 146, 175, 0.1); */
	/* background: linear-gradient(180deg, #1e1e2c 0%, rgba(30, 30, 44, 0) 100%); */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.hide_head {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.logo a {
	width: 100%;
	display: block;
}

.logo a img {
	max-width: 100%;
}

.header_nav {
	margin-left: auto;
}

.header_links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header_link {
	margin-right: 16px;
}

.header_link:last-child {
	margin-right: 0;
}

.header_link a {
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);
	-webkit-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}

.header_link a:hover {
	color: rgba(255, 255, 255, 1);
}
.header_link a.active {
	color: rgba(255, 255, 255, 1);
}

.sign_link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 26px 0 48px;
}

.sign_link span {
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-right: 5px;
}

.sign_link img {
	width: 16px;
	height: auto;
}

.header_btn {
	width: 167px;
	border-radius: 16px;
}

.burger {
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.burger img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 1025px) {
	.sign_link {
		margin: 0 16px 0 32px;
	}
}

@media (max-width: 850px) {
	.header_link {
		margin-right: 10px;
	}
	.header_link a {
		font-size: 14px;
	}
	.sign_link {
		margin: 0 16px 0 20px;
	}
}

@media (max-width: 800px) {
	.header_nav {
		display: none;
	}
	.sign_link {
		display: none;
	}
	.header_btn {
		display: none;
	}
	.burger {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

@media (max-width: 600px) {
	header {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.logo {
		width: 91px;
	}
	.burger {
		width: 16px;
		height: 16px;
	}
}

/* ----------MAIN----------- */

.main {
	padding-top: 112px;
}

h1 {
	font-weight: 700;
	/* font-size: 44px; */
	font-size: 3.06vw;
	line-height: 48px;
	text-align: center;
	color: #fff;
	width: 58%;
}

.main_descr {
	width: 58%;
	margin-top: 12px;
}

.progress_items {
	width: 48.34%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 32px;
}

.progress_item {
	width: 156px;
}

.item_quantity {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
}

.item_name {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 5px;
}

.main_buttons {
	display: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/* width: 43%; */
	gap: 16px;
	margin-top: 36px;
}

.main_btn {
	width: 157px;
}

.main_btn span {
	margin-right: 0;
}

.main_login {
	background: #353648;
	width: 157px;
	border-radius: 12px;
}

.main_login span {
	margin-right: 0;
}

.video_container {
	width: 97.64%;
	height: 839px;
	height: 0;
	position: relative;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 56.26%;
	border: 1px solid #51526d;
	border-radius: 32px;
	margin-top: 60px;
	background: rgba(144, 146, 175, 0.1);
}

video {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

@media (min-width: 1440px) {
	h1 {
		font-size: 44px;
	}
}

@media (max-width: 1200px) {
	h1 {
		font-size: 3.2vw;
		width: 62%;
	}
}

@media (max-width: 1025px) {
	h1 {
		font-size: 36px;
		line-height: 40px;
		width: 72%;
	}
	.progress_items {
		width: 64.34%;
	}
	.video_container {
		margin-top: 58px;
	}
}

@media (max-width: 769px) {
	.main {
		padding-top: 96px;
	}
	h1 {
		font-size: 28px;
		line-height: 32px;
		width: 96%;
	}
	.description {
		font-size: 15px;
		line-height: 20px;
	}
	.main_descr {
		width: 72%;
	}
	.progress_items {
		width: 56%;
	}
	.progress_item {
		width: 124px;
	}
	.item_quantity {
		font-size: 20px;
		line-height: 24px;
	}
	.main_buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.main_btn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.video_container {
		margin-top: 56px;
	}
}

@media (max-width: 700px) {
	.progress_items {
		width: 64%;
	}
}

@media (max-width: 600px) {
	.main_descr {
		width: 92%;
	}
	.progress_items {
		width: 66.34%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: 16px;
	}
	.progress_item {
		width: 36%;
	}
	.progress_item:nth-child(1) {
		margin-bottom: 18px;
	}
	.progress_item:nth-child(2) {
		margin-bottom: 18px;
	}
	.main_buttons {
		/* width: 94%; */
		margin-top: 34px;
	}
	.main_btn {
		width: 191px;
	}
	.main_login {
		width: 191px;
	}
}

@media (max-width: 430px) {
	.progress_items {
		width: 96.34%;
	}
	.progress_item {
		width: 191px;
	}
	.main_btn,
	.main_login {
		border-radius: 16px;
	}
	.video_container {
		margin-top: 32px;
	}
}

@media (max-width: 399px) {
	.progress_items {
		width: 92.34%;
	}
	.progress_item {
		width: 164px;
	}
	.main_btn,
	.main_login {
		width: 163px;
	}
}

/* ---------ADVANTAGE -------- */

.advantages {
	padding: 60px 0 68px 0;
}

.avatar_wrap {
	width: 64px;
	height: 64px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.avatar_wrap img {
	max-width: 100%;
	height: auto;
}

.advantages_text {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	width: 58%;
	margin-top: 24px;
}

.advantages_span {
	margin: 12px 0 5px;
	font-size: 17px;
	line-height: 24px;
	color: #fff;
}

.advantages_descr {
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1200px) {
	.advantages_text {
		width: 74%;
	}
}

@media (max-width: 1025px) {
	.advantages {
		padding: 56px 0 56px 0;
	}
	.advantages_text {
		width: 76%;
	}
}

@media (max-width: 769px) {
	.avatar_wrap {
		width: 58px;
		height: 58px;
	}
	.advantages_text {
		width: 96%;
	}
	.advantages_text {
		font-size: 24px;
		line-height: 28px;
		margin-top: 16px;
	}
}

@media (max-width: 600px) {
	.advantages {
		padding: 32px 0;
	}
	.avatar_wrap {
		width: 44px;
		height: 44px;
	}
	.advantages_text {
		width: 90%;
		font-size: 17px;
		line-height: 24px;
		margin-top: 18px;
	}
	.advantages_span {
		margin: 8px 0 4px;
		font-size: 15px;
		line-height: 20px;
	}
	.advantages_descr {
		font-size: 15px;
		line-height: 20px;
	}
}

@media (max-width: 380px) {
	.advantages_text {
		width: 92%;
	}
}

/* -------- TABS ------- */

.tabs {
	width: 100%;
}

.tabs_wrap {
	width: 97.2%;
	padding: 32px;
	border-radius: 28px;
	background: #2b2c3e;
}

.tab_links {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 36px;
}

.link_wrap {
	width: 22.6%;
}

.tab_link {
	width: 100%;
}

.link_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.link_icon {
	width: 24px;
	height: 24px;
	position: relative;
}

.icon,
.icon_active {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.icon {
	opacity: 1;
	z-index: 1;
	visibility: visible;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.icon_active {
	opacity: 0;
	z-index: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.link_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-left: 8px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.link_description {
	margin-top: 12px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.tab_link:hover {
	.icon {
		opacity: 0;
		z-index: 0;
		visibility: hidden;
	}
	.icon_active {
		opacity: 1;
		z-index: 1;
		visibility: visible;
	}
	.link_title {
		color: #fff;
	}
	.link_description {
		color: #fff;
	}
}

.tab_link_active {
	.icon {
		opacity: 0;
		z-index: 0;
		visibility: hidden;
	}
	.icon_active {
		opacity: 1;
		z-index: 1;
		visibility: visible;
	}
	.link_title {
		color: #fff;
	}
	.link_description {
		color: #fff;
	}
}

.mobile_content {
	width: 100%;
	gap: 24px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow-x: auto;
	height: 0;
	opacity: 0;
	visibility: hidden;
	display: none;
}

.mobile_content_active {
	width: 100%;
	gap: 24px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow-x: auto;
	height: 100%;
	opacity: 1;
	visibility: visible;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	scrollbar-width: none;
	margin-top: 18px;
	&::-webkit-scrollbar {
		display: none;
	}
}

@media (max-width: 1025px) {
	.tab_links {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 24px;
	}

	.link_wrap {
		width: 48%;
	}
}

@media (max-width: 769px) {
	.tabs_wrap {
		width: 96.2%;
		padding: 24px;
	}
}
@media (max-width: 700px) {
	.link_wrap {
		width: 100%;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.mobile_content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 18px;
	}
}

@media (max-width: 700px) {
	.tabs_wrap {
		padding: 24px 0 24px 24px;
	}
	.tab_link {
		width: 96%;
	}
}

@media (max-width: 431px) {
	.tabs_wrap {
		width: 92.8%;
	}

	.mobile_content {
		gap: 16px;
		margin-top: 18px;
	}
}

@media (max-width: 376px) {
	.tabs_wrap {
		width: 91.8%;
		padding: 16px 0 16px 16px;
	}
	.mobile_content {
		margin-top: 24px;
	}
}

.tab_contents {
	width: 100%;
	margin-top: 56px;
}

.content_box {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 24px;
}

.content_item {
	width: 32.2%;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 32px;
	background: #2f3048;
	padding: 24px;
}

.content_categorys {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.category_item {
	border: 0.5px solid rgba(144, 146, 175, 0.6);
	border-radius: 12px;
	padding: 8px 12px;
	margin-right: 8px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1400px) {
	.category_item {
		font-size: 0.9vw;
	}
}
.category_item:last-child {
	margin-right: 0;
}

.tab_content {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 24px;
}

.content_img {
	width: 95px;
	height: 92px;
	border-radius: 24px;
}

.content_img img {
	width: inherit;
}

.content_text {
	margin-left: 16px;
	width: 70.75%;
}

.text_title {
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 100%;
	display: inline-block;
}

.text_descr {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #9092af;
	height: 64px;
	overflow-y: auto;
	margin-top: 5px;
	scrollbar-width: none;
}

.text_descr:-webkit-scrollbar {
	display: none;
}

.content_bottom {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 36px;
}

.bottom_img {
	width: 32px;
	height: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.bottom_img img {
	max-width: 100%;
	height: auto;
}

.bottom_span {
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: #fff;
	margin-left: 8px;
}

.bottom_btn {
	width: 80px;
	padding: 8px 12px;
	border-radius: 12px;
	margin-left: auto;
}

.bottom_btn .play_span {
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	margin-right: 4px;
}

.bottom_btn img {
	width: 16px;
	height: 16px;
}

@media (max-width: 1200px) {
	.content_item {
		width: 38.2%;
	}
	.content_img {
		width: 75px;
		height: 72px;
	}
	.content_text {
		margin-left: 10px;
		width: 68%;
	}
	.text_descr {
		font-size: 12px;
		line-height: 15px;
		height: 50px;
	}
}

@media (max-width: 1025px) {
	.tab_contents {
		margin-top: 44px;
	}
	.content_item {
		width: 31.2%;
		padding: 16px;
	}
	.category_item {
		font-size: 9px;
		line-height: 11px;
		border-radius: 12px;
		padding: 4px 6px;
		margin-right: 8px;
	}
	.tab_content {
		margin-top: 20px;
	}
	.content_img {
		width: 52px;
		height: 52px;
		border-radius: 16px;
	}
	.content_text {
		width: 76%;
		margin-left: 12px;
	}

	.text_title {
		display: inline-block;
		width: 100%;
		font-size: 15px;
		line-height: 20px;
	}
	.text_descr {
		font-size: 11px;
		line-height: 14px;
		height: 28px;
	}
	.content_bottom {
		margin-top: 20px;
	}
	.bottom_btn {
		width: 71px;
		padding: 4px 12px;
		border-radius: 8px;
	}
	.bottom_img {
		width: 24px;
		height: 24px;
	}
}

@media (max-width: 900px) {
	.content_box {
		width: 100%;
		overflow-x: auto;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.content_item {
		width: 47.8%;
	}
	.tab_content {
		margin-top: 16px;
	}
	.content_img {
		width: 66px;
		height: 66px;
	}
	.content_text {
		width: 74%;
	}
	.text_descr {
		height: 42px;
	}
	.content_bottom {
		margin-top: 16px;
	}
	.bottom_img {
		width: 32px;
		height: 32px;
	}
	.bottom_btn {
		width: 80px;
		padding: 8px 12px;
		border-radius: 12px;
	}
}

@media (max-width: 700px) {
	.tab_contents {
		display: none;
	}
	.content_item {
		width: 87.8%;
	}
}
@media (max-width: 376px) {
	.content_item {
		width: 90%;
	}
}

/* --------STARTED ------ */

.started {
	padding: 56px 0 68px;
}

.started_wrap {
	width: 61.2%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border: 1px solid rgba(144, 146, 175, 0.4);
	border-radius: 16px;
	padding: 16px;
	background: #2b2c3e;
}

.started_content {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.started_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
}

.started_text {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 8px;
}
.started_buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 16px;
}

.start_login {
	display: none;
}
.started_btn {
	border-radius: 20px;
	padding: 16px 24px;
	width: 220px;
}

.started_btn .started_span {
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: #fff;
	margin-right: 8px;
}

.started_btn img {
	width: 24px;
	height: 24px;
}

@media (max-width: 1200px) {
	.started_wrap {
		width: 72.64%;
	}
}

@media (max-width: 1025px) {
	.started_wrap {
		width: 84.24%;
	}
}

@media (max-width: 769px) {
	.started {
		padding: 56px 0 64px;
	}
	.started_wrap {
		width: 96%;
	}
	.started_title {
		font-size: 20px;
		line-height: 24px;
	}
	.started_text {
		font-size: 13px;
		line-height: 16px;
	}
	.started_btn {
		padding: 14px 24px;
	}
}

@media (max-width: 600px) {
	.started_wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.started_content {
		margin-bottom: 24px;
	}

	.started_btn {
		border-radius: 16px;
		padding: 12px 24px;
		width: 175px;
	}
	.started_btn img {
		display: none;
	}

	.started_span {
		margin-right: 0;
	}
	.started_btn .started_span {
		font-size: 15px;
		line-height: 20px;
	}
	.start_login {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-radius: 16px;
		padding: 12px 24px;
		width: 175px;
	}
}

@media (max-width: 431px) {
	.started {
		padding: 32px 0 56px;
	}
	.started_wrap {
		width: 94%;
	}
	.started_buttons {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}

@media (max-width: 376px) {
	.started {
		padding: 32px 0;
	}
	.started_btn,
	.start_login {
		width: 148px;
	}
	/* .started_wrap {
		width: 94%;
	} */
}

/* ------- FOOTER ------- */

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: 1px solid #51526d;
	padding: 44px 44px 56px 44px;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
	padding: 44px 44px 56px;
}

.copyright_wrap {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.footer_text {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 20px;
}

.copy_text {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 20px;
}

.footer_nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 24%;
}

.nav_content {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.nav_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
}

.footer_list {
	margin-top: 20px;
}

.footer_link {
	display: block;
	height: 15px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 16px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.footer_link:last-child {
	margin-bottom: 0;
}

.footer_link:hover {
	color: #fff;
}

.footer_link_active {
	color: #fff;
}

@media (max-width: 1025px) {
	.footer_nav {
		width: 29.5%;
	}
}

@media (max-width: 900px) {
	.footer_nav {
		width: 36.5%;
	}
}

@media (max-width: 769px) {
	footer {
		padding: 44px 16px 56px;
	}
	.footer_nav {
		width: 38.5%;
	}
}

@media (max-width: 600px) {
	footer {
		padding: 32px 16px;
	}
	.copyright_wrap {
		width: 58%;
	}
	.footer_text {
		font-size: 13px;
		line-height: 16px;
	}
	.footer_nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.nav_content:last-child {
		margin-top: 24px;
	}
	.nav_title {
		font-size: 17px;
		line-height: 24px;
	}
	.footer_link {
		font-size: 13px;
		line-height: 16px;
	}
}

/* -------HIDDEN MENU------------ */

.hidden_mnu {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	/* display: none; */
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	background: #1e1e2c url('../assets/image/hide-menu-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 0;
	z-index: 999;
	-webkit-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

/* .hidden_mnu_active {
	display: block;
} */

.hide_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 12px 16px;
}

.logo {
	width: 109px;
}

.close {
	width: 24px;
	height: 24px;
}

.close img {
	max-width: 100%;
}

.hide_nav {
	width: 100%;
	padding: 0 16px;
}

.hide_list {
	width: 100%;
	list-style: none;
}

.hide_link {
	width: 100%;
	padding: 16px 0;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.hide_link:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hide_link:hover {
	color: #fff;
}

.hide_link a.active {
	color: rgba(255, 255, 255, 1);
}

@media (max-width: 430px) {
	.logo {
		width: 91px;
	}
	.close {
		width: 18px;
		height: 18px;
	}
}

/* --------Animation------- */
.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 1;
	visibility: visible;
}

.hide {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.show_mobile {
	opacity: 1;
	visibility: visible;
}

.hide_mobile {
	opacity: 0;
	visibility: hidden;
}

.fade {
	-webkit-animation-name: fade;
	animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}
